* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    background-color: #001d46;
}

/* Style scrollbar to be invisible */
body::-webkit-scrollbar {
    width: 0.2em;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #959595;
    outline: none;
}